<h1>Новая эра в торговле</h1>
<p>
  Совсем недавно в магазинах появились кассы самообслуживания, а мы уже успели
  сделать <b>кассира-нейросеть</b>.
</p>
<p>
  Нужно всего лишь показать в камеру, что вы покупаете. Алгоритм получает эту
  фотографию, называет что вы взяли и показывает стоимость.
</p>

<div class="py-9 grid grid-cols-3 gap-3">
  <div class="bg-neutral-100 p-5 rounded-xl space-y-1">
    <img src="/pizza.avif" alt="Pizza" width="300" />
    <div class="text-lg font-bold">Пицца</div>
    <div class="px-3 py-0.5 text-white bg-amber-600 rounded-full w-fit">
      400 ₽
    </div>
  </div>
  <div class="bg-neutral-100 p-5 rounded-xl space-y-1">
    <img src="/coffee.avif" alt="Coffee" width="300" />
    <div class="text-lg font-bold">Кофе</div>
    <div class="px-3 py-0.5 text-white bg-amber-600 rounded-full w-fit">
      200 ₽
    </div>
  </div>
  <div class="bg-neutral-100 p-5 rounded-xl space-y-1">
    <img src="/cola.avif" alt="Cola" width="300" />
    <div class="text-lg font-bold">Кола</div>
    <div class="px-3 py-0.5 text-white bg-amber-600 rounded-full w-fit">
      80 ₽
    </div>
  </div>
  <div class="bg-neutral-100 p-5 rounded-xl space-y-1">
    <img src="/fries.avif" alt="Fries" width="300" />
    <div class="text-lg font-bold">Картофель фри</div>
    <div class="px-3 py-0.5 text-white bg-amber-600 rounded-full w-fit">
      180 ₽
    </div>
  </div>
</div>

<p>
  Покажите в камеру картинку любой из этих позиций. Покажите так, чтобы было
  четко видно, что вы показываете.
</p>
<p>Затем нажмите на кнопку и наблюдайте 👀</p>

<h1>Как это работает?</h1>
<p>
  Фотография шифруется, отправляется нейросети. Она анализирует фотографию и
  возвращает ответ.
</p>
<p>
  Этот стенд работает благодаря нейросети Mistral. В конечном продукте мы
  разработали собственный классификатор, который даёт ответ <b
    >за долю секунды</b
  >.
</p>
<p>
  Интерфейс написан с использованием быстрой библиотеки создания компонентов — <b
    >Svelte</b
  >.
</p>
<p>
  Мы следуем принципам хорошего UX, наш приоритет — <br />удобство пользователя.
</p>

<h1>Применение</h1>
<p>
  Наш продукт недавно был интегрирован в кафе ПАО "ПНППК". Мы проводим
  тестирование, собираем информацию и делаем наш продукт удобным для
  пользователей.
</p>
<p>
  Наша команда оказывает постоянную поддержку, работает с вопросами клиентов.
</p>
<p>
  Нейросеть можно адаптировать под любой торговый бизнес: супермаркеты,
  кафе-бистро, кофейни.
</p>
